*{
    width: inherit;
    height: inherit;
    margin: 0;
    
}

html{
    width: 100%;
    height: 100%;
    
    
}

body{
    /* overflow: hidden; */
    overflow-x: hidden;
    background-color: rgb(43, 82, 255)
    /* background-image: url("imagemDeFundoTentativa1.jpg");
    background-repeat: no-repeat; */
}
button {
    width: 140px;
    background-color: rgba(255, 255, 255, 0);
    border:none ;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

nav{
    /* background-image: linear-gradient(blue , gray); */
    background-color: rgba(138, 138, 138, 1);
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
   
    padding: 0.2rem;
    
}

/* .divDaNavegacao {
    background-color: rgb(138, 138, 138);
    max-width: 100%;
    max-height: 55px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
} */

/* 
a, a ::after {
    text-align: center;
    margin: 0 1.5em;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    
} */
a{
    color: blue;
    margin: 0 5em;
    height: fit-content;
    width: 46px;
    display: flex;
    align-items: center;
}

.imagemDoMenu{
    max-width: 35px;
    max-height: 35px;
    display: flex;
    flex-direction: row ;
    align-items: center;
    justify-content: center;
    
}

.navegacaoDaLogo {
    color: blue;
    width: 100px;
    border-radius: 50px;
    display: flex;
    flex-direction: row ;
    align-items: center;
    justify-content: center;
    
}

.divImagens{
    
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(43, 82, 255) ;
    width: 100%;
    height: fit-content;
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: center;
    margin:  2em ;
}

.imagemDoPanfleto{
    
    
    width: 400px;
    height: 550px;
    margin: 2em ;
    display: flex;
    flex-direction: row;
    align-items: center;  
}

.divImagensDivisao{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.imagemDoMascote{
    border: rgba(66, 66, 66, 0.75) 2px solid;
    background-image: radial-gradient(rgba(138, 138, 138, 0.75) , rgb(43, 82, 255));
    height: 550px;
    width: 300px;
    margin: 2em ;
    display: flex;
    flex-direction: row;
    align-items: center;  
}

p{
    
    padding: 20px;
    background-color: rgba(138, 138, 138, 0.75);
    border: rgba(0, 0, 255, 0.5) 2px solid;

    position: center;
    margin: 5px ;
    height: fit-content ;
    font-family: "Andale Mono", monospace;
    font-size: 20px;
    color: rgb(255, 255, 255);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color:rgb(255, 255, 255);
    text-shadow: 2px 2px black , 1px 1px black , 2px 2px black  , 2px 2px black;
}

.divDoParagrafo {
    margin-left: auto;
    margin-right: auto;
    height: fit-content;
    width: 500px;
    justify-content: center;
    align-items: center;
}




@media screen and (max-width: 768px) {
    .imagemDoMascote , .imagemDoPanfleto  {
        display: flex ;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        float: none;
    }
    p  {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        float: none;
        height: fit-content;
    }
}

@media screen and (max-width: 600px) {
    .divImagens {
        margin-top: auto;
        display: flex;
        flex-direction: column;
        float: none;
        width: 380px;
        align-items: center;
        justify-content: center; 
        /* width: 100%; */

    }
    .imagemDoMascote {
        width: 300px;
    }
    .divDoParagrafo {
        margin-top: 300px;
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
}


